@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! Ready to get out and Walk </h1>
    <p>Please Shedule your next walk with us</p>
    <img src="https://techcrunch.com/wp-content/uploads/2020/03/GettyImages-1172128891.jpg?w=730&crop=1" alt="dogandwalker" />
</div>
